---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
const response = await fetch('http://localhost:4321/api/courses.json')
const courses = await response.json()

---

<Layout title="Astro Records">
  <div class=" w-full bg-black lg:px-0 flex items-center flex-wrap">
    <div class="relative flex overflow-x-hidden scrollbar-hide">
      <div class="animate-marquee whitespace-nowrap ">
        <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
        <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
      </div>
      <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
        <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
        <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
      </div>
    </div>
  </div>
  <img
        class="w-full hidden md:block card-image relative z-10"
        src="covers/portada.png"
        alt="Buenos Aires"
      />
      <img
        class="w-full md:hidden card-image relative z-10"
        src="covers/portadacelular.png"
        alt="Buenos Aires"
      />
      <div class=" w-full bg-black lg:px-0 flex items-center flex-wrap">
        <div class="relative flex overflow-x-hidden scrollbar-hide">
          <div class="animate-marquee whitespace-nowrap ">
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
          </div>
          <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de WhatsApp +54 11 2734 1445</span>
            <span class="text-sm lg:text-2xl mx-7 font-thin text-white font-mono">Si querés contactarnos a través de Instagram <a href="https://www.instagram.com/vicenzogiordana/">@esperanza_en_la_ciudad_bs_as</a></span>
          </div>
        </div>
      </div>
  <section class="py-8">
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12"
    >
      <h2 class="font-bold text-3xl text-black tracking-tight mb-12">
        Temas
      </h2>

      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {
          courses.map((course) => (
            <Card
              id={course.id.toString()}
              name={course.name}
              artist={course.artist}
              image_url={course.imgUrl}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
