---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import Photos from "../components/photosWelcome.astro"
import portada from '../covers/portadaopt.png';
import portadaCelular from '../covers/portadacelularopt.png';
---

<Layout title="Home">
  <div transition:animate="slide" class=` w-full`>
    <!-- <img
        class="w-full hidden md:block card-image relative z-10"
        src={portada.src}
        alt="Buenos Aires"
      />
      
      <img
        class="w-full md:hidden card-image relative z-10"
        src={portadaCelular.src}
        alt="Buenos Aires"
      /> -->
    <Photos />
    
  </div>
</Layout>
