---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import Photos from "../components/photosWelcome.astro"
// const response = await fetch('http://localhost:4321/api/courses.json')
// const courses = await response.json()
import { slide, fade } from 'astro:transitions';
const courses = [
{
    id: 0,
    name: "¿Dios existe?",
    artist: "Joel Flores",
    imgUrl: "/covers/existencia.webp",
    youtubeUrl:"https://www.youtube.com/embed/bnbrXNnmOIY?si=uMQ8JPAOl_Aya-g1",
    descripcion: "En un estudio sobre las bases de la fe cristiana, no podríamos dejar fuera lo más fundamental: el tema de la existencia de Dios. Algunos filósofos/teólogos incluso defienden que la frase “Dios existe” no es correcta, ya que todo lo que “existe” en algún momento tuvo que haber llegado a existir. Sin embargo, Dios siempre existió. Por eso, lo más adecuado sería afirmar: “Dios es”. Así fue como Cristo habló de sí mismo. Él se identificó como el “Yo soy” (Éxodo 3:14; Juan 8:58)."
  },
  {
    id: 1,
    name: "¿Por qué creer en la Biblia?",
    artist: "Joel Flores",
    imgUrl: "/covers/biblia4.webp",
    youtubeUrl: "https://www.youtube.com/embed/cCdFJEajhmc?si=nILu6TdwFcdcQ-oM",
    descripcion: "La Biblia es el libro más vendido del mundo y también el más traducido de la historia. Existen muchas versiones, modelos y tamaños. Muchos se guían por ella, mientras que otros la consideran un fraude. Algunos son sus enemigos declarados y, a lo largo de la historia, muchos han intentado destruirla. Después de todo, ¿qué de especial tiene la Biblia que la vuelve tan prominente en la historia? ¿Podemos confiar en su contenido?"
  },
  {
    id: 2,
    name: "La creación",
    artist: "Joel Flores",
    imgUrl: "/covers/creacion.webp",
    youtubeUrl: "https://www.youtube.com/embed/8YmmvleypKc?si=jX9JAdaXVAdq3mae",
    descripcion: "Quiero comenzar este tema con la siguiente afirmación: nadie puede ser genuinamente cristiano si no cree que el relato de la creación (Génesis 1 y 2) apunta a un evento literal de seis días de 24 horas. Permíteme ahora explicarte la razón de esta afirmación."
  },
  {
    id: 3,
    name: "Origen del mal",
    artist: "Joel Flores",
    imgUrl: "/covers/origendelmal.webp",
    youtubeUrl: "https://www.youtube.com/embed/1Cee5T9bnho?si=i1Pdj8ISFHPRVKTj",
    descripcion: "Dios creó el planeta Tierra completamente bueno. No existía ninguna partícula del mal en ningún lugar del planeta. A lo largo del capítulo 1 de Génesis, Moisés va proporcionando detalles de lo que Dios creó cada día. Poco a poco, el planeta fue estructurándose. La fauna y la flora fueron creadas por el poder de la Palabra de Dios, y, cuando todo había concluido, Dios declaró lo siguiente: “Y vio Dios todo lo que había hecho, y he aquí que era bueno en gran manera. Y fue la tarde y la mañana el día sexto” (Génesis 1:31)."
  },
  {
    id: 4,
    name: "Plan de redención",
    artist: "Joel Flores",
    imgUrl: "/covers/cruz.jpg",
    youtubeUrl: "https://www.youtube.com/embed/EjAfI4w833w?si=vm6UMB1KYWYxnc-F",
    descripcion: "Vivimos en un periodo en que aparentemente el pecado ya no es tan pecaminoso. Las personas juegan con el pecado y hasta lo llaman “felicidad”. Sin embargo, necesitamos comprender cuán grave es el pecado y cuán distantes debemos mantenernos de él"
  },
 ];
---
<Layout title='Videos'>
<section transition:animate={slide({duration: '1s'})} class="mb-[5%]">
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12"
    >
      <h2 class="font-bold text-3xl text-black tracking-tight mb-12">
        Temas
      </h2>

      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {
          courses.map((course) => (
            <Card
              id={course.id.toString()}
              name={course.name}
              artist={course.artist}
              image_url={course.imgUrl}
            />
          ))
        }
      </div>
    </div>
    <div class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12">
      <h2 class="font-bold text-3xl text-black tracking-tight mb-12">
        Materiales para descargar
      </h2>
      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        <a href="/En_busca_de_la_verdad.pdf" download="En_busca_de_la_verdad.pdf">
          <img
        class="card-image rounded-md relative z-10"
        src="/covers/En_busca_de_la_verdad.png"
        alt="Guía de estudio de la Biblia"
        width="400"
        height="400"
      />
        </a>
        <a href="/el_poder_de_la_esperanza.pdf" download="el_poder_de_la_esperanza.pdf">
          <img
        class="card-image rounded-md relative z-10"
        src="/covers/el_poder_de_la_esperanza.png"
        alt="Libro: el poder de la esperanza"
        width="400"
        height="400"
      />
        </a>
      </div>
    </div>
  </section>
</Layou>