---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import Photos from "../components/photosWelcome.astro"
// const response = await fetch('http://localhost:4321/api/courses.json')
// const courses = await response.json()
import { slide, fade } from 'astro:transitions';
const courses = [
  {
    id: 0,
    name: "¿Dios existe?",
    artist: "Joel Flores",
    imgUrl: "/covers/existencia.jpg"
  },
  {
    id: 1,
    name: "¿Por qué creer en la Biblia?",
    artist: "Joel Flores",
    imgUrl: "/covers/biblia4.jpg"
  },
  // {
  //   id: 2,
  //   name: "¿Dónde está Dios cuando sufrimos?",
  //   artist: "Joel Flores",
  //   imgUrl: "/covers/sufrimiento4.jpg"
  // },
  // {
  //   id: 3,
  //   name: "Oración y fe",
  //   artist: "Joel Flores",
  //   imgUrl: "/covers/oracion5.jpg"
  // },
  // {
  //   id: 4,
  //   name: "Perdón de los pecados",
  //   artist: "Joel Flores",
  //   imgUrl: "/covers/cruz.jpg"
  // },
  {
    id: 5,
    name: "La segunda venida",
    artist: "Joel Flores",
    imgUrl: "/covers/segundaVenida2.jpg"
  },
  {
    id: 6,
    name: "La ley de Dios",
    artist: "Joel Flores",
    imgUrl: "/covers/mandamientos2.jpg"
  },
  {
    id: 7,
    name: "El día de descanso",
    artist: "Joel Flores",
    imgUrl: "/covers/sabado3.jpg"
  },
  {
    id: 8,
    name: "El bautismo",
    artist: "Joel Flores",
    imgUrl: "/covers/bautismo2.jpg"
  },
 ];
---
<Layout title='videos'>
<section transition:animate={slide({duration: '1s'})} class="mb-[5%]">
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12"
    >
      <h2 class="font-bold text-3xl text-black tracking-tight mb-12">
        Temas
      </h2>

      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {
          courses.map((course) => (
            <Card
              id={course.id.toString()}
              name={course.name}
              artist={course.artist}
              image_url={course.imgUrl}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layou>