<nav
  class="w-full border-b bg-white"
  id="page-header"
  transition:persist="header"
>
  <div
    class="w-full container mx-auto max-w-screen-lg px-6 lg:px-0 flex flex-wrap items-center mt-0 py-6"
  >
    <div>
      <a
        class="flex items-center tracking-tight no-underline hover:no-underline font-bold text-black text-xl"
        href="/"
      >
      Inicio
      </a>
    </div>
  </div>
</nav>
