---
import '@splidejs/splide/css/core';
import '@splidejs/splide/css/default';
---
<!-- <link rel="stylesheet" href="path-to-the-file/splide.min.css"> -->
<section class="splide" id="thumbnail-carousel">
    <div class="splide__slider">
          <div class="splide__track">
              <ul class="splide__list">
                  <li class="splide__slide"><img src="covers/cropped-ciudad-de-buenos-aires_x2.png"></img></li>
                  <li class="splide__slide"><img src="covers/preguntas-min.webp"></img></li>
                  <li class="splide__slide"><img src="covers/pintura-min.webp"></img></li>
              </ul>
          </div>
    </div>
  
  
    <div class="splide__progress">
		<div class="splide__progress__bar">
		</div>
  </div>
  </section>
  <style>
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}
.splide__progress__bar {
  height: 10px;
  background: #cc1515;
}
  </style>
  <script>

    import Splide from '@splidejs/splide';
  document.addEventListener('astro:page-load', () => {
    // This only runs once.
    new Splide( '#thumbnail-carousel', {
      fixedWidth : '100%',
    fixedHeight: "400px",
  padding: 100, 
    gap        : 10,
  type    : 'loop',
  autoplay: true,
  perPage : 1,
  height : '100rem',
  pagination : true,
  breakpoints: {
    600: {
      fixedWidth : '100%',
      fixedHeight: 700,
      padding: 50, 
    },
  },
  } ).mount();
  });
  </script>