---
import Layout from '../../../layouts/Layout.astro'
import { YouTube } from '@astro-community/astro-embed-youtube';
const { id } = Astro.params
const courses = [
{
    id: 0,
    name: "¿Dios existe?",
    artist: "Joel Flores",
    imgUrl: "/covers/existencia.webp",
    youtubeUrl:"https://www.youtube.com/embed/MC_0S710Fvk?si=CRBIi78aZuTwQHcQ",
    descripcion: "En un mundo cargado de dolor, de conflictos y de guerras, muchos se preguntan ¿Dios existe? ¿Por qué no actua en medio de todo el caos?"
  },
  {
    id: 1,
    name: "¿Por qué creer en la Biblia?",
    artist: "Joel Flores",
    imgUrl: "/covers/biblia4.webp",
    youtubeUrl: "https://www.youtube.com/embed/cc9edwTCjfA?si=kT--b6pJDd5NQNyc",
    descripcion: "¿Porqué un libro tan antiguo puede tener respuestas tan modernas?"
  },
  {
    id: 2,
    name: "¿Dónde está Dios cuando sufrimos?",
    artist: "Joel Flores",
    imgUrl: "/covers/sufrimiento4.webp",
    youtubeUrl: "https://www.youtube.com/embed/JnIkJAGXWKY?si=O3gYZqxrqzuLrdlD"
  },
  {
    id: 3,
    name: "Oración y fe",
    artist: "Joel Flores",
    imgUrl: "/covers/oracion5.webp",
    youtubeUrl: "https://www.youtube.com/embed/0yeKz7sk3vE?si=PYqorV_wyH6af5eP"
  },
  {
    id: 4,
    name: "Perdón de los pecados",
    artist: "Joel Flores",
    imgUrl: "/covers/cruz.jpg",
    youtubeUrl: "https://www.youtube.com/embed/EjAfI4w833w?si=vm6UMB1KYWYxnc-F"
  },
  {
    id: 5,
    name: "La segunda venida",
    artist: "Joel Flores",
    imgUrl: "/covers/segundaVenida2.webp",
    youtubeUrl: "https://www.youtube.com/embed/0vQwEiuRZnY?si=ACqnGt5smoTy7eUE",
    descripcion: '¿Cuándo vendrá? ¿de qué forma será la segunda venida de Jesús? ¿Hay alguna señal?'
  },
  {
    id: 6,
    name: "La ley de Dios",
    artist: "Joel Flores",
    imgUrl: "/covers/mandamientos2.webp",
    youtubeUrl: "https://www.youtube.com/embed/OT1aWdy0Wj8?si=IJwjbgOs3FwNK5Sn",
    descripcion: "Dentro del mundo cristiano existe una controversia con relación a La Ley de Dios. ¿Cómo se salva el hombre? ¿obedeciendo la Ley o aceptando la gracia?" 
  },
  {
    id: 7,
    name: "El día de descanso",
    artist: "Joel Flores",
    imgUrl: "/covers/sabado3.webp",
    youtubeUrl: "https://www.youtube.com/embed/rBAzMhZYm4Q?si=Raep_bZbWPAADshU",
    descripcion: "Para muchas religiones, el debate sobre el verdadero día de reposo continua siendo una polémica. Pero, ¿qué dice la biblia al respecto? ¿Será que Jesús cambió el dia de reposo?"  
  },
  {
    id: 8,
    name: "El bautismo",
    artist: "Joel Flores",
    imgUrl: "/covers/bautismo2.webp",
    youtubeUrl: "https://www.youtube.com/embed/4P6izb-8tSI?si=fOC-pQklCjdxlMiq",
    descripcion: "¿Crees que es necesario el bautismo? ¿Cuántos bautismos son válidos?" 
  },
 ];
 const course = courses[parseInt(id)]
 
---
<Layout title='Video'>
<div class="grid grid-cols-1 w-full text-center">

    <div class="mt-10 mx-auto w-full md:w-3/5">
      <YouTube id={course.youtubeUrl} poster={course.imgUrl}/>
    </div>
</Layout>
